* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: light 300;
}

::-webkit-scrollbar {
  display: none;
}

.troll {
  position: fixed;
  margin: 0 auto;
  z-index: -1;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0060a7;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  margin: 5rem auto;
  padding: 20px;
  background: rgba(161, 155, 155, 0.281);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Bebas Neue";
  font-size: 40px;
  text-decoration: none;
  color: #0077cc;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.856);
}

h2 {
  text-align: center;
  font-size: 1rem;
  text-decoration: overline;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: #3333339f;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0060a7;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0a558f;
}

.blur {
  filter: blur(10px);
  transition: filter 0.6s ease-in-out;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    scale: 1;
  }

  to {
    scale: 50;
  }
}
