* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: light 300;
}

html {
  height: 100%;
  background: hsla(202, 71%, 27%, 1);

  background: linear-gradient(
    135deg,
    hsla(202, 71%, 27%, 1) 0%,
    hsla(189, 33%, 50%, 1) 40%,
    hsla(176, 45%, 66%, 1) 83%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(202, 71%, 27%, 1) 0%,
    hsla(189, 33%, 50%, 1) 40%,
    hsla(176, 45%, 66%, 1) 83%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(202, 71%, 27%, 1) 0%,
    hsla(189, 33%, 50%, 1) 40%,
    hsla(176, 45%, 66%, 1) 83%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#145277", endColorstr="#569ca9", GradientType=1 );
}

::-webkit-scrollbar {
  display: none;
}

img {
  position: relative;
  z-index: -2;
  width: 50%;
  height: 50%;
  margin-top: -150px;
  padding: 10px;
}

body {
  font-family: sans-serif;
}

.container {
  backdrop-filter: blur(px);
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  margin: 5rem auto;
  padding: 20px;
  background: rgba(161, 155, 155, 0.281);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Bebas Neue";
  font-size: 40px;
  text-decoration: none;
  color: #0077cc;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.856);
}

h2 {
  text-align: center;
  font-size: 1rem;
  text-decoration: overline;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: #3333339f;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0060a7;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0a558f;
}

.blur {
  filter: blur(10px);
  transition: filter 0.6s ease-in-out;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    scale: 1;
  }

  to {
    scale: 50;
  }
}
